<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youyu.mapper.UserFrameworkMapper">
    <select id="getUserForLogin" resultType="com.youyu.entity.auth.UserFramework">
        SELECT * FROM bs_user
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
            <if test="username!=null">
                username = #{username}
            </if>
            <if test="email!=null">
                email = #{email}
            </if>
        </where>
    </select>

    <select id="getUserByUsername" resultType="com.youyu.entity.auth.UserFramework">
        SELECT * FROM bs_user where username = #{username} and deleted = 0
    </select>

    <select id="getUserByEmail" resultType="com.youyu.entity.auth.UserFramework">
        SELECT * FROM bs_user where email = #{email} and deleted = 0
    </select>

    <select id="getUserByGithubId" resultType="com.youyu.entity.auth.UserFramework">
        SELECT * FROM bs_user where github_id = #{githubId} and deleted = 0
    </select>

    <select id="getUserByQQId" resultType="com.youyu.entity.auth.UserFramework">
        SELECT * FROM bs_user where qq_id = #{qqId} and deleted = 0
    </select>
</mapper>
