<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.mapper.CommonMapper">

    <resultMap type="com.youyu.entity.DynamicInfo" id="DynamicInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="getUserDynamics" resultMap="DynamicInfoMap">
        (SELECT id, create_time, 1 AS type FROM bs_post WHERE user_id = #{userId} AND deleted = 0) UNION
        (SELECT id, create_time, 2 AS type FROM bs_moment WHERE user_id = #{userId} AND deleted = 0) UNION
        (SELECT id, create_time, 3 AS type FROM bs_note WHERE user_id = #{userId} AND deleted = 0) UNION
        (SELECT id, create_time, 4 AS type FROM bs_note_chapter WHERE FIND_IN_SET(#{userId}, user_ids) AND deleted = 0)
        ORDER BY create_time DESC
    </select>


</mapper>

