<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youyu.mapper.UserMapper">
    <resultMap id="route" type="com.youyu.entity.auth.Route">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="code" property="code"></result>
        <result column="pid" property="pid"></result>
        <result column="description" property="description"></result>
    </resultMap>

    <select id="getAuthRoutes" resultMap="route">
        SELECT * FROM bs_route WHERE id IN
                                     (SELECT route_id FROM sys_role_route WHERE sys_role_route.role_id =
                                                                                (SELECT role_id FROM sys_user_role WHERE user_id = #{id}))
    </select>

    <select id="getRoutesByRoleId" resultMap="route">
        SELECT * FROM bs_route WHERE id in (SELECT route_id FROM sys_role_route WHERE role_id = #{roleId})
    </select>

    <select id="getUserById" resultType="com.youyu.entity.auth.UserFramework">
        SELECT * FROM bs_user where id = #{id}
    </select>
</mapper>
